html[data-theme="default"] {
  --chart-1: var(--color-purple-600);
  --chart-2: var(--color-pink-500);
  --chart-3: var(--color-fuchsia-500);
  --chart-4: var(--color-violet-500);
  --chart-5: var(--color-rose-400);
}

html[data-theme="default"].dark {
  --chart-1: var(--color-purple-400);
  --chart-2: var(--color-pink-400);
  --chart-3: var(--color-fuchsia-400);
  --chart-4: var(--color-violet-400);
  --chart-5: var(--color-rose-300);
}
