html[data-theme="default"] {
  --chart-1: var(--color-emerald-600);
  --chart-2: var(--color-lime-500);
  --chart-3: var(--color-teal-500);
  --chart-4: var(--color-green-600);
  --chart-5: var(--color-stone-400);
}

html[data-theme="default"].dark {
  --chart-1: var(--color-emerald-400);
  --chart-2: var(--color-lime-400);
  --chart-3: var(--color-teal-400);
  --chart-4: var(--color-green-400);
  --chart-5: var(--color-stone-500);
}
